*{
    font-family: "Fineness Pro Regular";
    font-size: 14px;
    font-weight: 700;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;   
    background-color: #353736;
}

textarea{
    resize: none;
    line-height: 50px;
    background: transparent;
    border: none;
    position: absolute;
    top:-39px;
    left: 10px;

}

.form{
    border-radius: 16px;
    background-image: -o-linear-gradient(322deg, #ee2755 13.16%, #ffffff 13.16%, #ffffff 25%, #55a7da 25%, #55a7da 38.16%, #fff 38.16%, #fff 50%, #ee2755 50%, #ee2755 63.16%, #ffffff 63.16%, #ffffff 75%, #55a7da 75%, #55a7da 88.16%, #fff 88.16%, #fff 100%);
    background-image: linear-gradient(128deg, #ee2755 13.16%, #ffffff 13.16%, #ffffff 25%, #55a7da 25%, #55a7da 38.16%, #fff 38.16%, #fff 50%, #ee2755 50%, #ee2755 63.16%, #ffffff 63.16%, #ffffff 75%, #55a7da 75%, #55a7da 88.16%, #fff 88.16%, #fff 100%);
    background-size: 48.22px 61.72px;
    width: 542px;
    height: 265px;  
}

.form-container{
    width: 520px;
    height: 243px;
    margin: 11px;
    padding: 46px 30px 0 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 168px 37px 255px;
    grid-template-columns: 168px 255px;
    grid-column-gap: 37px;
    background-color: white;
    border-radius: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input{
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    text-indent: 10px;
    background-color: white;
}

.message-line{
    margin: 18px 0 49px 0;
    width: 100%;
    min-height: 1px;
    background-color: #e2e2e2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.inputs div, .message, .message-container{
    position: relative;
}

.inputs span{
    color: #04507C;
    text-transform: uppercase;
    position: absolute;
    top: -6px;
    left: 4px;
}

.message-span{
    color: #04507C;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 0.75px;
    top: -24px;
    left: 4px;
}

.btn{
    position: absolute;
    left: 173px;
    bottom: 21px;
}

.btn button{
    background-color: 	#e01f4c;
    color: white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 23px;
    border-radius: 14px;
}

@media (max-width:560px){
    .form{
        width: 220px;
        height: 400px;
    }
    
    .form-container{
        width: 200px;
        height: 380px;
        margin: 10px;
        padding: 46px 10px 0 10px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 150px 15px 197px;
        grid-template-rows: 150px 197px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    .form-container > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    
    .form-container > *:nth-child(2){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    
    .btn{
        top: 135px;
        left: 5px;
    }
}